# 27_groupby in pyspark

Write a pyspark code perform below function 
* 46. Get department wise average salary from "EmployeeDetail" table order by salary ascending 
* 47. Get department wise maximum salary from "EmployeeDetail" table order by salary ascending 
* 48. Get department wise minimum salary from "EmployeeDetail" table order by salary ascending

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

In [0]:
data = [ [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"], [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"], [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"], [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"], [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"], ]

schema = StructType([ StructField("EmployeeID", IntegerType(), True), StructField("First_Name", StringType(), True), StructField("Last_Name", StringType(), True), StructField("Salary", DoubleType(), True), StructField("Joining_Date", StringType(), True), StructField("Department", StringType(), True), StructField("Gender", StringType(), True) ])

In [0]:
df_emp = spark.createDataFrame(data, schema)
df_emp.display()

EmployeeID,First_Name,Last_Name,Salary,Joining_Date,Department,Gender
1,Vikas,Ahlawat,600000.0,2013-02-15 11:16:28.290,IT,Male
2,nikita,Jain,530000.0,2014-01-09 17:31:07.793,HR,Female
3,Ashish,Kumar,1000000.0,2014-01-09 10:05:07.793,IT,Male
4,Nikhil,Sharma,480000.0,2014-01-09 09:00:07.793,HR,Male
5,anish,kadian,500000.0,2014-01-09 09:31:07.793,Payroll,Male

In [0]:
(
  df_emp.groupBy(col('Department'))
        .agg(
          avg(col('Salary')).alias('avg_salary')
          , max(col('Salary')).alias('max_salary')
          , min(col('Salary')).alias('min_salary')
        )
        .display()
)

Department,avg_salary,max_salary,min_salary
IT,800000.0,1000000.0,600000.0
HR,505000.0,530000.0,480000.0
Payroll,500000.0,500000.0,500000.0