# 40_Swap Gender Problem

Given a df salary, such as the one below, that has m=male
and f=female values. Swap all f and m values (i.e., change all f
values to m and vice versa)

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

In [0]:
# Define the schema for the DataFrame
schema = StructType([
StructField("id", IntegerType(), True),
StructField("name", StringType(), True),
StructField("sex", StringType(), True),
StructField("salary", IntegerType(), True),
])
# Define the data
data = [
(1, "A", "m", 2500),
(2, "B", "f", 1500),
(3, "C", "m", 5500),
(4, "D", "f", 500),
]

In [0]:
df_data = spark.createDataFrame(data, schema)
df_data.display()

id,name,sex,salary
1,A,m,2500
2,B,f,1500
3,C,m,5500
4,D,f,500

In [0]:
(
    df_data.withColumn(
                'swapped'
                , when(col('sex') == 'm', 'f').otherwise('m')
            )
            .display()
)

id,name,sex,salary,swapped
1,A,m,2500,f
2,B,f,1500,m
3,C,m,5500,f
4,D,f,500,m